<a href="https://colab.research.google.com/github/Fedoseevale/Statistica_Homework9/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задача 2**

Посчитать коэффициент линейной регрессии при заработной плате (zp), используя градиентный спуск (без intercept).

In [18]:
import numpy as np

In [19]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])

In [20]:
zp

array([ 35,  45, 190, 200,  40,  70,  54, 150, 120, 110])

In [21]:
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [22]:
ks

array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [39]:
alpha = 1e-6

In [37]:
B1 = 0.1

In [38]:
n = 10

In [40]:
for i in range (3000):
  B1 -= alpha * (2/n) * np.sum ((B1 * zp - ks) * zp)
  if i % 500 == 0:
    print ('B1 = {}'.format(B1))

B1 = 0.25952808
B1 = 5.889815595583751
B1 = 5.8898204201285544
B1 = 5.889820420132673
B1 = 5.889820420132673
B1 = 5.889820420132673